@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400;700&display=swap');

body{
    background: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Yaldevi', sans-serif;
}

.logo{
    height: 100%;
    flex: 1;
}

.logo img{
    width: 40px;
    box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -khtml-box-shadow: 0px 0px 5px #ccc;
    border-radius: 50%;
}

.logo h1{
    display: inline-block;
    font-size: large;
    font-weight: 100;
    color: rgba(208,208,208,255);
    margin-top: 20px;
    margin-left: 10px;
}

.logo h1 b{
    color: rgba(101,101,101,255);
    font-weight: bold;
}

.landing{
    background-color: rgba(244,244,244,255);
    margin-top: 10px;
    border-radius: 10px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header{
    color: rgba(209,209,209,255);
}

#header b{
    color: rgba(110,110,110,255);
    font-weight: bold;
}

#title {
    padding-top: 2rem;
    font-weight: bold;
}

#imgCover {
    padding-top: 1rem;
    width: 100%;
    box-shadow: 0px 4px 5px #ccc;
    -moz-box-shadow: 0px 4px 5px #ccc;
    -webkit-box-shadow: 0px 4px 5px #ccc;
    -khtml-box-shadow: 0px 4px 5px #ccc;
}

.btn-container{
    display: flex;
    color: rgba(150,221,255,255);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-container img {
    height: 85px;
    align-self: flex-end;
}

.left {
    justify-content: flex-end;
    align-items: flex-start;
}
  
.left span {
    margin-top: 10px;
    margin-left: 10px;
}

.btn{
    width: 50%;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.4);
    color: rgba(55,86,127,255);
    transition: all 0.5s ease 0s;
    background-image: linear-gradient(0deg, rgb(0, 175, 255), rgb(200, 240, 250));
    
}

.btn:hover {
    background-image: linear-gradient(0deg, rgb(0, 175, 255), rgb(200, 170, 260));
    color: rgba(190, 230, 250, 255);
    transform: translateY(10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);

}

.btn small{
    font-weight: 100;
}

.feature img{
    padding-left: 10px;
    float: left;
    padding-bottom: 10rem;
    padding-right: 1rem;
}

.feature .content {
    
    padding-left: 10px;
    font-size: small;
}

.feature .content h5{
    font-weight: bold;
}

.quote{
    color:rgba(0, 0, 0, 0.4);
}

.quote .see{
    color: rgba(102,154,222,255);

}

.quote .message{
    background-color: rgba(239,239,239,255);
    padding: 1rem;
    border-radius: 5px;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-left: 1.5px solid rgba(0, 0, 0, 0.5);
    border-right: 1.5px solid rgba(0, 0, 0, 0.5);
}

.quote .author{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.quote .author .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 20px solid rgba(226,226,226,255);
    margin-left: 15px;
    margin-right: 15px;
}

.right {
    justify-content: flex-start;
    align-items: flex-end;
}

.right span {
    margin-bottom: 10px;
    margin-right: 10px;
}

footer{
    transform: translateY(-5px);
    background-color: rgba(147,147,147,255);
    color:black;
    font-size: 10px;
    padding-top: 3rem;
    text-align: left;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

footer .row{
    padding-left: 1rem;
    padding-right: 1rem;
}

footer .map{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright{
    background-color: rgba(94,94,94,255);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer .row .col .social{
    width: 20px;
}

#policy{
    float:right
}

@media (min-width: 992px){
    .container{
        max-width: 720px;
    }
}

@media (max-width:992px){
    .col img{
        padding-bottom: 0rem;
    }

    #title{
        font-size: large;
    }

    .btn-container{
        font-size: 15px;
    }

    .btn-container img{
        height: 60px;
    }
    .btn{
        width: 45%;
        font-size: 15px;
    }

    footer{
        font-size: 7px;
    }

    footer img{
        width: 100px;
    }

    footer h6{
        font-size: 15px;
    }

}


